html
  head
    title chai-jq
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    // Test styles and libraries.
    link(rel="stylesheet", href="../node_modules/mocha/mocha.css")

  body
    #mocha
    #fixtures(style="position: absolute; bottom: 0;")

    script(src="../node_modules/mocha/mocha.js")
    script(src="../node_modules/sinon/pkg/sinon.js")

    // Plugin deps and library.
    block libs
      script(src="../node_modules/jquery/dist/jquery.js")
      script(src="../node_modules/chai/chai.js")
      script(src="../chai-jq.js")

    // Test Setup
    block setup
      script.
        // Set up Chai and Mocha.
        window.expect = chai.expect;
        mocha.setup("bdd");

        // Run tests on window load.
        window.onload = function () {
          mocha.run();
        };
      //-

    // Tests.
    block specs
      script(src="js/spec/chai-jq.spec.js")
